<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365462194072-rhdk940qiu65ra8ot77bvkg75ss0de9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365462194072-rhdk940qiu65ra8ot77bvkg75ss0de9c</string>
	<key>API_KEY</key>
	<string>AIzaSyB1kDZ6Npt_ZQcYqimcWOxqFO6iywFfeM0</string>
	<key>GCM_SENDER_ID</key>
	<string>365462194072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Naysa-Alex.CocoaPod1</string>
	<key>PROJECT_ID</key>
	<string>cocoapod1-ce7a7</string>
	<key>STORAGE_BUCKET</key>
	<string>cocoapod1-ce7a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365462194072:ios:818dda5f27f6599a4fcded</string>
</dict>
</plist>